/*
 * Globals
 */

 .page-nav{
  background-color: #C1C8E4!important;
}
/* Links */
a,
a:focus,
a:hover {
 color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
 color: #fff;
 text-shadow: none; /* Prevent inheritance from `body` */
 background-color: #8860D0;
 border: .05rem solid #8860D0;
}


/*
* Base structure
*/

html,
body {
 height: 100%;
 background-color: #C1C8E4;
}

body {
 display: -ms-flexbox;
 display: flex;
 color: #fff;
 text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
 box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
 max-width: 42em;
}


/*
* Cover
*/
.cover {
 padding: 0 1.5rem;
}
.cover .btn-lg {
 padding: .75rem 1.25rem;
 font-weight: 700;
}


/*
* Footer
*/
.mastfoot {
 color: rgba(8, 7, 7, 0.5);
}
